vendor-prefixes = webkit moz official
font-default = #3d3d3d
font-bright = #fff
bg-default = #427017
bg-light-green = #8da973
bg-green = #678c45
bg-inactive = #C0C0C0
bg-bright = #f2f0f0
speed-medium = 2s
speed-fast = 0.5s
